# Read the documentation at https://github.com/thephpleague/flysystem-bundle/blob/master/docs/1-getting-started.md
flysystem:
    storages:
        s3.storage:
            adapter: 'demosplan.s3_adapter_no_acl'
        local.storage:
            adapter: 'local'
            options:
                directory: '%fileservice_filepath%'
        default.storage:
            adapter: 'lazy'
            options:
                source: '%env(FILES_SOURCE)%'

services:
    Aws\S3\S3Client:
        class: Aws\S3\S3Client
        arguments:
            -
                version: 'latest'
                region: '%env(S3_REGION)%'
                endpoint: '%env(S3_ENDPOINT)%'
                use_path_style_endpoint: '%env(bool:S3_USE_PATH_STYLE_ENDPOINT)%'
                signature_version: '%env(S3_SIGNATURE_VERSION)%'
                credentials:
                    key: '%env(S3_KEY)%'
                    secret: '%env(S3_SECRET)%'
                http:
                    verify: '%cafile%'

    demosplan\DemosPlanCoreBundle\Logic\File\AwsS3V3AdapterWithoutAcl: ~

    demosplan.s3_adapter_no_acl:
        class: demosplan\DemosPlanCoreBundle\Logic\File\AwsS3V3AdapterWithoutAcl
        arguments:
            - '@Aws\S3\S3Client'
            - '%env(S3_BUCKET)%'
            - '%env(S3_PREFIX)%'
            - null  # visibility converter (not needed since we don't use ACLs)
            - null  # mime type detector (will use default)
            - []    # options
            - true  # streamReads
