monolog:
    use_microseconds: false
    channels:
        - 'dplan'
        - 'dplan_cockpit'
        - 'dplan_export'
        - 'dplan_gateway'
        - 'dplan_importer'
        - 'dplan_mail'
        - 'dplan_maintenance'
        - 'dplan_plugin'
        - 'dplan_request'
        - 'dplan_404'
        - 'dplan_csp'
        - 'lgv'
    handlers:
        main:
            type: fingers_crossed
            action_level: error
            handler: nested
            excluded_http_codes: [ 404, 405 ]
            buffer_size: 50 # How many messages should be saved? Prevent memory leaks
        nested:
            type: stream
            path: "%kernel.logs_dir%/%demosplan_main_logfile%"
            channels: ["!console"] # log all channels in http request
        deprecations:
            type: stream
            level: INFO
            path: '%kernel.logs_dir%/php_info.log'
            channels: [php]
        file:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            level: "%symfony_loglevel%"
        console:
            type: console
            process_psr_3_messages: false
            channels: ['!event', '!doctrine', '!console']
        dplan.main:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/%demosplan_main_logfile%"
            level: "%frontend_loglevel%"
            channels: ["dplan"]
        dplan.plugin:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/%demosplan_main_logfile%"
            level: "%frontend_loglevel%"
            channels: ["dplan_plugin"]
        dplan.gateway:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/%demosplan_call_logfile%"
            level: "%gatewayservice_loglevel%"
            channels: ["dplan_gateway"]
        dplan.request:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/%demosplan_request_logfile%"
            level: "%frontend_loglevel%"
            channels: ["dplan_request"]
        dplan.mail:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/%demosplan_mail_logfile%"
            level: "%mailservice_loglevel%"
            channels: ["dplan_mail"]
        dplan.maintenance:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/dplanmaintenance.log"
            level: "%frontend_loglevel%"
            channels: ["dplan_maintenance"]
        dplan.importer:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            level: "%importer_loglevel%"
            channels: ["dplan_importer"]
        dplan.404:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/404.log"
            level: "%frontend_loglevel%"
            channels: ["dplan_404"]
        dplan.csp:
            type: "%logging_strategy%"
            max_files: "%logging_max_files%"
            path: "%kernel.logs_dir%/csp.log"
            level: "notice"
            channels: ["dplan_csp"]
        lgv:
            type: "%logging_strategy%"
            path: "%kernel.logs_dir%/%lgv_logfile%"
            level: "%lgv_local_debug%"
            channels: ["lgv"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

# Updates from recipe update to be considered
#when@dev:
#    monolog:
#        handlers:
#            main:
#                type: stream
#                path: "%kernel.logs_dir%/%kernel.environment%.log"
#                level: debug
#                channels: ["!event"]
#            # uncomment to get logging in your browser
#            # you may have to allow bigger header sizes in your Web server configuration
#            #firephp:
#            #    type: firephp
#            #    level: info
#            #chromephp:
#            #    type: chromephp
#            #    level: info
#            console:
#                type: console
#                process_psr_3_messages: false
#                channels: ["!event", "!doctrine", "!console"]

#when@prod:
#    monolog:
#        handlers:
#            main:
#                type: fingers_crossed
#                action_level: error
#                handler: nested
#                excluded_http_codes: [404, 405]
#                buffer_size: 50 # How many messages should be saved? Prevent memory leaks
#            nested:
#                type: stream
#                path: php://stderr
#                level: debug
#                formatter: monolog.formatter.json
#            console:
#                type: console
#                process_psr_3_messages: false
#                channels: ["!event", "!doctrine"]
#            deprecation:
#                type: stream
#                channels: [deprecation]
#                path: php://stderr
