monolog:
    use_microseconds: false
    channels:
        - deprecation # Deprecations are logged in the dedicated "deprecation" channel when it exists

when@dev:
    monolog:
        handlers:
            main:
                type: stream
                path: "%kernel.logs_dir%/%demosplan_main_logfile%"
                level: "%symfony_loglevel%"
                channels: ["!event", "!deprecation"]
            deprecation:
                type: stream
                channels: [deprecation]
                path: "%kernel.logs_dir%/deprecation.log"
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine", "!console"]

when@test:
    monolog:
        handlers:
            main:
                type: fingers_crossed
                action_level: error
                handler: nested
                excluded_http_codes: [404, 405]
                channels: ["!event"]
            nested:
                type: stream
                path: "%kernel.logs_dir%/%kernel.environment%.log"
                level: debug

when@prod:
    monolog:
        handlers:
            main:
                type: "%logging_strategy%"
                path: "%logging_path%"
                max_files: "%logging_max_files%"
                level: "%symfony_loglevel%"
                formatter: "%logging_formatter%"
                channels: ["!event", "!deprecation"]
            console:
                type: console
                process_psr_3_messages: false
                channels: ["!event", "!doctrine"]
