includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-symfony/extension.neon
    - %rootDir%/../../../vendor/timeweb/phpstan-enum/extension.neon
parameters:
    typeAliases:
        # These three aliases are returned by EDT, but as phpstan does not consider aliases from composer dependencies,
        # we need to define them directly in dplan again.
        simple_primitive: 'bool|float|int|string'
        JsonApiRelationship: 'array{type: non-empty-string, id: non-empty-string}'
        JsonApiRelationships: 'array<non-empty-string, array{data: list<JsonApiRelationship>|JsonApiRelationship|null}>'

    tmpDir: /tmp/phpstan
    scanFiles:
        - %rootDir%/../../../vendor/twig/twig/src/Extension/CoreExtension.php
    scanDirectories:
#    # used when oder phpstan version is used during refactoring with rector. Might be deleted with symfony4
#    autoload_directories:
#        - %rootDir%/../../../demosplan/DemosPlanCoreBundle/DoctrineMigrations
#        - %rootDir%/../../../vendor/phayes/geophp/lib/adapters
#    # used when oder phpstan version is used during refactoring with rector. Might be deleted with symfony4
#    autoload_files:
#        - %rootDir%/../../../vendor/autoload.php
#        - %rootDir%/../../../vendor/twig/twig/src/Extension/CoreExtension.php

    excludePaths:
        - %rootDir%/../../../demosplan/vendor
        - %rootDir%/../../../vendor
        - %rootDir%/../../../demosplan/plugins
    level: 1
