includes:
    - %rootDir%/../../../vendor/phpstan/phpstan-symfony/extension.neon
    - %rootDir%/../../../vendor/timeweb/phpstan-enum/extension.neon
parameters:
    tmpDir: /tmp/phpstan
    scanFiles:
        - %rootDir%/../../../vendor/twig/twig/src/Extension/CoreExtension.php
    scanDirectories:
#    # used when oder phpstan version is used during refactoring with rector. Might be deleted with symfony4
#    autoload_directories:
#        - %rootDir%/../../../demosplan/DemosPlanCoreBundle/DoctrineMigrations
#        - %rootDir%/../../../vendor/phayes/geophp/lib/adapters
#    # used when oder phpstan version is used during refactoring with rector. Might be deleted with symfony4
#    autoload_files:
#        - %rootDir%/../../../vendor/autoload.php
#        - %rootDir%/../../../vendor/twig/twig/src/Extension/CoreExtension.php

    excludePaths:
        - %rootDir%/../../../demosplan/vendor
        - %rootDir%/../../../vendor
        - %rootDir%/../../../demosplan/plugins
    level: 1
