<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
    bootstrap="tests/backend/bootstrap.php"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    colors="true"
    convertDeprecationsToExceptions="false"
    stopOnError="true"
    verbose="false">

    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="9.6" />

        <!-- ###+ symfony/lock ### -->
        <!-- Choose one of the stores below -->
        <!-- postgresql+advisory://db_user:db_password@localhost/db_name -->
        <env name="LOCK_DSN" value="flock"/>
        <!-- ###- symfony/lock ### -->

        <!-- ###+ symfony/mercure-bundle ### -->
        <!-- See https://symfony.com/doc/current/mercure.html#configuration -->
        <!-- The URL of the Mercure hub, used by the app to publish updates (can be a local URL) -->
        <env name="MERCURE_URL" value="https://example.com/.well-known/mercure"/>
        <!-- The public URL of the Mercure hub, used by the browser to connect -->
        <env name="MERCURE_PUBLIC_URL" value="https://example.com/.well-known/mercure"/>
        <!-- The secret used to sign the JWTs -->
        <env name="MERCURE_JWT_SECRET" value="!ChangeThisMercureHubJWTSecretKey!"/>
        <!-- ###- symfony/mercure-bundle ### -->
    </php>

    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">demosplan</directory>
        </include>
    </coverage>
    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>
    <testsuites>
        <testsuite name="core">
            <directory>tests/backend/core</directory>
        </testsuite>
    </testsuites>

</phpunit>
