services:
    _defaults:
        autowire: true
        autoconfigure: true

    demosplan\DemosPlanCoreBundle\Repository\ConsultationTokenRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\ConsultationToken'

    demosplan\DemosPlanCoreBundle\Repository\SegmentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\Segment'

    demosplan\DemosPlanCoreBundle\Repository\NewsRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\News\News'

    demosplan\DemosPlanCoreBundle\Repository\RoleRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\Role'

    demosplan\DemosPlanCoreBundle\Repository\LocationRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Location'

    demosplan\DemosPlanCoreBundle\Repository\ContentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\GlobalContent'

    demosplan\DemosPlanCoreBundle\Repository\FileContainerRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\FileContainer'

    demosplan\DemosPlanCoreBundle\Repository\FaqRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Faq'

    demosplan\DemosPlanCoreBundle\Repository\FileRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\File'

    demosplan\DemosPlanCoreBundle\Repository\OriginalStatementAnonymizationRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\OriginalStatementAnonymization'

    demosplan\DemosPlanCoreBundle\Repository\EmailAddressRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\EmailAddress'

    demosplan\DemosPlanCoreBundle\Repository\ManualListSortRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\ManualListSort'

    demosplan\DemosPlanCoreBundle\Repository\OpenGeoDbRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\OpenGeoDbShortTable'

    demosplan\DemosPlanCoreBundle\Repository\ProcedureCoupleTokenRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureCoupleToken'

    demosplan\DemosPlanCoreBundle\Repository\SearchIndexTaskRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\SearchIndexTask'

    demosplan\DemosPlanCoreBundle\Repository\MailRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\MailSend'

    demosplan\DemosPlanCoreBundle\Repository\StatementAttachmentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\StatementAttachment'

    demosplan\DemosPlanCoreBundle\Repository\FaqCategoryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\FaqCategory'

    demosplan\DemosPlanCoreBundle\Repository\FloodRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Flood'

    demosplan\DemosPlanCoreBundle\Repository\SettingRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Setting'

#    demosplan\DemosPlanCoreBundle\Repository\SluggedRepository: ~

    demosplan\DemosPlanCoreBundle\Repository\EntityContentChangeRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\EntityContentChange'

    demosplan\DemosPlanCoreBundle\Repository\Workflow\PlaceRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Workflow\Place'

    demosplan\DemosPlanCoreBundle\Repository\SlugRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Slug'

    demosplan\DemosPlanCoreBundle\Repository\EntitySyncLinkRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\EntitySyncLink'

    demosplan\DemosPlanCoreBundle\Repository\DevelopmentReleaseRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\DevelopmentRelease'

    demosplan\DemosPlanCoreBundle\Repository\DevelopmentUserStoryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\DevelopmentUserStory'

    demosplan\DemosPlanCoreBundle\Repository\DevelopmentUserStoryVoteRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\DevelopmentUserStoryVote'

    demosplan\DemosPlanCoreBundle\Repository\ForumEntryFileRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\ForumEntryFile'

    demosplan\DemosPlanCoreBundle\Repository\ForumEntryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\ForumEntry'

    demosplan\DemosPlanCoreBundle\Repository\ForumThreadRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Forum\ForumThread'

    demosplan\DemosPlanCoreBundle\Repository\ContextualHelpRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Help\ContextualHelp'

    demosplan\DemosPlanCoreBundle\Repository\MapRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Map\GisLayer'

    demosplan\DemosPlanCoreBundle\Repository\GisLayerCategoryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Map\GisLayerCategory'

    demosplan\DemosPlanCoreBundle\Repository\GdprConsentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\GdprConsent'

    demosplan\DemosPlanCoreBundle\Repository\GdprConsentRevokeTokenRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\GdprConsentRevokeToken'

    demosplan\DemosPlanCoreBundle\Repository\CountyRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\County'

    demosplan\DemosPlanCoreBundle\Repository\TagTopicRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\TagTopic'

    demosplan\DemosPlanCoreBundle\Repository\StatementFragmentVersionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\StatementFragmentVersion'

    demosplan\DemosPlanCoreBundle\Repository\StatementAttributeRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\StatementAttribute'

    demosplan\DemosPlanCoreBundle\Repository\TagRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\Tag'

    demosplan\DemosPlanCoreBundle\Repository\DraftStatementVersionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\DraftStatementVersion'

    demosplan\DemosPlanCoreBundle\Repository\StatementVoteRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\StatementVote'

    demosplan\DemosPlanCoreBundle\Repository\StatementRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\Statement'

    demosplan\DemosPlanCoreBundle\Repository\PriorityAreaRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\PriorityArea'

    demosplan\DemosPlanCoreBundle\Repository\DraftStatementRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\DraftStatement'

    demosplan\DemosPlanCoreBundle\Repository\StatementFragmentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\StatementFragment'

    demosplan\DemosPlanCoreBundle\Repository\MunicipalityRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Statement\Municipality'

    demosplan\DemosPlanCoreBundle\Repository\ReportRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Report\ReportEntry'

    demosplan\DemosPlanUserBundle\Repository\AddressBookEntryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\AddressBookEntry'

    demosplan\DemosPlanUserBundle\Repository\MasterToebVersionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\MasterToebVersion'

    demosplan\DemosPlanUserBundle\Repository\OrgaRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\Orga'

    demosplan\DemosPlanUserBundle\Repository\InstitutionTagRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\InstitutionTag'

    demosplan\DemosPlanUserBundle\Repository\MasterToebRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\MasterToeb'

    demosplan\DemosPlanUserBundle\Repository\UserRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\User'

    demosplan\DemosPlanUserBundle\Repository\DepartmentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\Department'

    demosplan\DemosPlanUserBundle\Repository\OrgaTypeRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\OrgaType'

    demosplan\DemosPlanUserBundle\Repository\CustomerRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\Customer'

    demosplan\DemosPlanUserBundle\Repository\UserRoleInCustomerRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\UserRoleInCustomer'

    demosplan\DemosPlanUserBundle\Repository\AddressRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\User\Address'

    demosplan\DemosPlanProcedureBundle\Repository\StatementFormDefinitionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\StatementFormDefinition'

    demosplan\DemosPlanProcedureBundle\Repository\BoilerplateRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\Boilerplate'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureSubscriptionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureSubscription'

    demosplan\DemosPlanProcedureBundle\Repository\StatementFieldDefinitionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\StatementFieldDefinition'

    demosplan\DemosPlanProcedureBundle\Repository\UserFilterSetRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\UserFilterSet'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\Procedure'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureBehaviorDefinitionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureBehaviorDefinition'

    demosplan\DemosPlanProcedureBundle\Repository\NotificationReceiverRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\NotificationReceiver'

    demosplan\DemosPlanProcedureBundle\Repository\BoilerplateCategoryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\BoilerplateCategory'

    demosplan\DemosPlanProcedureBundle\Repository\HashedQueryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\HashedQuery'

    demosplan\DemosPlanProcedureBundle\Repository\BoilerplateGroupRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\BoilerplateGroup'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureTypeRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureType'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureProposalRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureProposal'

    demosplan\DemosPlanProcedureBundle\Repository\InstitutionMailRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\InstitutionMail'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureCategoryRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureCategory'

    demosplan\DemosPlanProcedureBundle\Repository\ProcedureUiDefinitionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Procedure\ProcedureUiDefinition'

    demosplan\DemosPlanCoreBundle\Repository\SurveyRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Survey\Survey'

    demosplan\DemosPlanCoreBundle\Repository\SurveyVoteRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Survey\SurveyVote'

    demosplan\DemosPlanCoreBundle\Repository\ParagraphRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Document\Paragraph'

    demosplan\DemosPlanCoreBundle\Repository\SingleDocumentRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Document\SingleDocument'

    demosplan\DemosPlanCoreBundle\Repository\ParagraphVersionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Document\ParagraphVersion'

    demosplan\DemosPlanCoreBundle\Repository\SingleDocumentVersionRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Document\SingleDocumentVersion'

    demosplan\DemosPlanCoreBundle\Repository\ExportFieldsConfigurationRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\ExportFieldsConfiguration'

    demosplan\DemosPlanCoreBundle\Repository\BrandingRepository:
        $entityClass: 'demosplan\DemosPlanCoreBundle\Entity\Branding'

    DemosEurope\DemosplanAddon\Contracts\Repositories\GisLayerCategoryRepositoryInterface: '@demosplan\DemosPlanCoreBundle\Repository\GisLayerCategoryRepository'

    DemosEurope\DemosplanAddon\Contracts\Repositories\MapRepositoryInterface: '@demosplan\DemosPlanCoreBundle\Repository\MapRepository'

    DemosEurope\DemosplanAddon\Contracts\Repositories\EmailAddressRepositoryInterface: '@demosplan\DemosPlanCoreBundle\Repository\EmailAddressRepository'
