{% extends '@DemosPlanCore/DemosPlanCore/base.html.twig' %}

{% block component_part %}
    {% include '@DemosPlanCore/DemosPlanProcedure/includes/administration_list_pageheader.html.twig' with {
        heading: 'search.submitter'|trans,
        highlighted: 'search_submitter_in_procedures'
    } %}

    <p class="font-size-small u-mb-0_75">
        {{ "search.submitter.hint"|trans }}
    </p>

    <dp-search-procedures :searchable-procedures="JSON.parse('{{ templateVars.procedures|json_encode|e('js', 'utf-8') }}')"></dp-search-procedures>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundle('procedure-administrationSearchProcedures.js') }}
{% endblock javascripts %}
