{% extends '@DemosPlanCore/DemosPlanCore/procedure.html.twig' %}

{% block component_part %}
    {% include '@DemosPlanCore/DemosPlanCore/includes/base_pageheader.html.twig' with {
        heading: 'survey.comments.moderate'|trans,
        subnav: [
            {
                datacy: 'administrationList:editSurvey',
                href: path('dplan_survey_edit', { 'procedureId': procedure, 'surveyId': surveyId }),
                label: 'survey.edit'
            },
            {
                datacy: 'administrationList:moderateSurveyComments',
                href: path('dplan_survey_show', { 'procedureId': procedure, 'surveyId': surveyId }),
                label: 'survey.comments.moderate',
                current: true
            }
        ]
    } %}

    <p class="u-mb">{{ 'survey.comments.explanation'|trans }}</p>

    <dp-survey-comments-list survey-id="{{ surveyId }}"></dp-survey-comments-list>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ webpackBundles(['procedure-administrationListSurveyComments.js']) }}
{% endblock javascripts %}
