<legend class="font-size-large weight--normal {{ explanation|default ? 'u-mb-0_25' : 'u-mb-0_75' }}">
    {{ text|default }}
</legend>

{% if explanation|default %}
    <p class="u-mb">
        {{ explanation|wysiwyg }}
    </p>
{% endif %}
