{% extends '@DemosPlanCore/DemosPlanCore/email.html.twig' %}
{% block body_plain %}

Sehr geehrte/r {{ templateVars.firstname }} {{ templateVars.lastname }},

Ihr Konto wurde aufgrund von Inaktivität gemäß den geltenden Datenschutzrichtlinien gelöscht.

{% if templateVars.support_email %}
Bei Fragen stehen wir Ihnen gerne unter <a href="mailto:{{ templateVars.support_email }}">{{ templateVars.support_email }}</a> zur Verfügung.

{% endif %}
Mit freundlichen Grüßen
Ihr DEMOS Support Team

{% endblock body_plain %}
