{% extends '@DemosPlanCore/DemosPlanCore/base_oeb.html.twig' %}

{% block component_part %}

    <h1>Beim Login ist ein Problem aufgetreten</h1>
    <p>
        Möglicherweise sind nicht alle Felder im Identityprovider ausgefüllt. Bitte überprüfen Sie die Einstellungen und kontaktieren
        Sie bei Fragen den Support.
    </p>
{% endblock component_part %}
