{% extends '@DemosPlanCore/DemosPlanCore/base_oeb.html.twig' %}

{% block component_part %}
    <p class="flash-info u-p-0_5">
        {% if projectType == 'gateway' %}
            {{ "confirm.user.logout.gateway"|trans({ gateway_url: gatewayURL })|wysiwyg }}
        {% elseif projectType == 'portal' %}
            {{ "confirm.user.logout"|trans }}
        {% endif %}
    </p>

    <p>
        <a class="btn btn--secondary" href="{{ path('core_home') }}">Weiter zur Startseite</a>
    </p>
{% endblock component_part %}
