<span class="{{ 'float-right'|prefixClass }}">
    <button
        class="{{ 'btn--blank o-link--default line-height--2 u-mr-0_5'|prefixClass }}"
        name="pdfExport"
        type="submit"
        data-cy="pdfExportToebList"
        data-form-actions-pdf-institutions-list
        data-skip-validation>
        <i class="{{ 'fa fa-file-text-o'|prefixClass }}" aria-hidden="true"></i>
        {{ 'pdf.download'|trans }}
    </button>
    {% include '@DemosPlanCore/Extension/contextual_help.html.twig' with {
        helpText: 'explanation.pdf.download'|trans,
        omitCssPrefix: false
    } %}
</span>
