<div class="{{ 'layout'|prefixClass }}">
    {{ uiComponent('form.element', {
        label: { text: 'name'|trans },
        control: { name: 'r_firstname', value: '' },
        required: required,
        elementClass: 'layout__item ',
        type: 'text',
        id: 'r_firstname',
    }) }}
</div>
