<div class="{{ 'layout'|prefixClass }}">
    {{ uiComponent('form.element', {
          label: { text: 'email'|trans },
          control: { name: 'r_email', value: '' },
          required: required,
        elementClass: 'layout__item ',
        type: 'text',
          id: 'r_email',
    }) }}
</div>
