<div class="{{ 'layout'|prefixClass }}">
    {{ uiComponent('form.element', {
        label: { text: 'phone'|trans },
        control: { name: 'r_phone', value: '' },
        required: required,
        elementClass: 'layout__item ',
        type: 'text',
        id: 'r_phone',
    }) }}
</div>
