 <div class="{{ 'layout'|prefixClass }}">
     {{ uiComponent('form.element', {
         label: { text: 'postalcode'|trans },
         control: { name: 'r_postalCode', value: '' },
         required: required,
         elementClass: 'layout__item u-1-of-4',
         type: 'text',
         id: 'r_postalCode',
     }) }}
     {{ uiComponent('form.element', {
         label: { text: 'city'|trans },
         control: { name: 'r_city', value: '' },
         required: required,
         elementClass: 'layout__item  u-3-of-4',
         type: 'text',
         id: 'r_city',
     }) }}
 </div>
