{% block component_part %}
    {% embed '@DemosPlanCore/DemosPlanCore/includes/participation_area_skeleton.html.twig' with {
    'content_heading': "news"|trans
    }%}

        {% block content %}

    <h2 class="layout__item u-3-of-4 u-pl-0">
        <i class="fa fa-bullhorn" aria-hidden="true"></i>
        {{ "news"|trans }}
    </h2><!--

 --><a class="layout__item u-1-of-4 text-right" href="{{ path('DemosPlan_globalnews_news') }}">
        <i class="fa fa-share btn-icns-icon" aria-hidden="true"></i>
        {{ "news.see.all"|trans }}
    </a>

    <div class="layout">
        {% for news in templateVars.list.newslist -%}
            <div class="layout__item u-1-of-2">
                {% include '@DemosPlanCore/DemosPlanNews/globalnewslist_list_entry.html.twig' %}
            </div>
        {%- endfor %}
    </div>

        {% endblock content %}

    {% endembed %}

{% endblock component_part %}
