{% block body_plain %}
    Guten Tag,

    eine neue Organisation "{{ newOrgaName }}" hat sich registriert und muss geprüft und
    <a href="{{ url }}">freigeschaltet</a> werden.

    Dies ist eine automatisch generierte Email.
{%  endblock %}
