{% extends '@DemosPlanCore/DemosPlanCore/email.html.twig' %}
{% block body_plain %}

{%- set confirmationUrl = url('DemosPlan_user_doubleoptin_invite_confirmation', {'token': templateVars.token, 'uId': templateVars.uId }) %}

Guten Tag {{ templateVars.userName }},

Sie wurden auf der Plattform DemosPlan als Benutzer*in angelegt. Um Ihre Registrierung abzuschließen,
klicken Sie bitte auf den nachfolgenden Link, um Ihre E-Mail Adresse zu bestätigen.

<a href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>

Mit freundlichen Grüßen
Ihr {{ projectName }} Team

{% endblock %}
