includes:
    - ./phpstan.dist.neon
parameters:
    symfony:
        container_xml_path: /tmp/{{ project_folder }}/cache/dev/demosplan_DemosPlanCoreBundle_Application_DemosPlanKernelDevDebugContainer.xml
