{% if boilerplate.verified|default(false) and hasPermission('feature_boilerplate_verified_marker') %}
    <span
        class="badge rounded-md text-default bg-surface-medium text-xs py-0.5 px-1.5 ml-auto mr-2 shrink-0"
        data-cy="administrationListBoilerplate:verifiedBadge">
        {{ 'verified'|trans }}
    </span>
{% endif %}
