<h2>Angaben gemäß § 5 TMG</h2>
<p>
    DEMOS plan GmbH <br>
    Büro Berlin: Panoramastraße 1, 10178 Berlin-Mitte, +49 30-2787846-0 (Fax -09)
</p>
<p>
    Vertreten durch: Rolf Lührs, Dr. Markus Klima <br>
    Prokurist: Matthias Rehkop
</p>
<h2>Kontakt</h2>
<p>
    Büro Berlin: +49 30-2787846-0 (-09), info@demos-deutschland.de
</p>
<h2>Registereintrag</h2>
<p>
    Eintragung im Handelsregister <br>
    Registergericht: Amtsgericht Hamburg <br>
    Registernummer: HRB 110069B
</p>
<h2>Umsatzsteuer-ID</h2>
<p>
    Umsatzsteueridentifikationsnummer gemäß §27a Umsatzsteuergesetz: DE266267664
</p>
<h2>Angaben zur Betriebshaftpflichtversicherung</h2>
<p>
    Name und Sitz der Gesellschaft: Gothaer Allgemeine Versicherung AG, 50598 Köln <br>
    Geltungsraum der Versicherung: weltweit, außer USA, Kanada &amp; Schweiz
</p>
<h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
<p>
    Rolf Lührs <br>
    DEMOS plan GmbH<br>
    Büro Berlin <br>
    Panoramastraße 1 <br>
    10178 Berlin-Mitte <br>
    Telefon: +49 30-2787846-04
</p>

<h2 class="{{ 'push-double--top'|prefixClass }}">Lizenzhinweise</h2>

{% if hasPermission('area_software_licenses') %}
<p>
    Diese Webseite verwendet verschiedene OpenSource Software-Komponenten. Eine Auflistung dieser findet sich
    <a href="{{ path('DemosPlan_misccontent_static_softwarecomponents') }}">hier</a>.
</p>
{% endif %}
