{% extends '@DemosPlanCore/DemosPlanCore/base_oeb.html.twig' %}

{% block component_part %}
    {% embed '@DemosPlanCore/DemosPlanCore/includes/participation_area_skeleton.html.twig' with {
    'content_heading': "informations"|trans
    } %}
        {% block content %}
            <img
                src="{{ asset('img/landingpage.png') }}"
                alt="Schleswig-Holstein-Service">

            <p class="u-mt">
                Bauleitplanung Online begleitet Sie digital und unkompliziert durch die Beteiligung der Öffentlichkeit sowie der Behörden und sonstiger Träger öffentlicher Belange. Mit dem webbasierten Tool können Sie Ihre formelle Beteiligung ganz einfach digital und medienbruchfrei durchführen. Über Bauleitplanung Online können sich Bürger*innen und Träger öffentlicher Belange leicht über laufende Planungsverfahren informieren und bequem Stellungnahmen zum Gesamtprojekt oder zu spezifischen Teilaspekten abgeben.
            </p>

            <p class="u-mt">
                Mehr Informationen über Bauleitplanung Online finden Sie unter
                <a
                    href="https://bauleitplanung-online.de/"
                    target="_blank">
                    bauleitplanung-online.de
                </a>
            </p>
        {% endblock content %}
    {% endembed %}
{% endblock %}

