name: Run Reviewdog

on:
  pull_request:
    paths:
      - '**.php'
      - '**.js'
      - '**.vue'
      - 'composer.lock'

jobs:
  cancel:
    name: 'Cancel Previous Runs'
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
        -   uses: styfle/cancel-workflow-action@0.12.1
            with:
                workflow_id: "reviewdog"
                access_token: ${{ secrets.GITHUB_TOKEN }}

  reviewdog:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '24.11.1'
      - run: npm install --ignore-scripts -g corepack && corepack enable && yarn set version 4.2.2

      - name: Cache yarn dependencies
        uses: actions/cache@v4.2.4
        with:
          path: |
            ~/.yarn/cache
            .yarn/cache
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - run: yarn install --immutable

      - uses: reviewdog/action-setup@v1.5

      - name: Setup PHP with composer v2
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          extensions: gd soap sockets zip
          tools: composer:v2

      - name: Cache php modules
        uses: actions/cache@v4.3.0
        with:
          path: |
            ~/.composer/cache
            vendor
          key: ${{ runner.os }}-build-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-build-php-

      - name: Miscellaneous runtime caches
        uses: actions/cache@v4.3.0
        with:
          path: |
            config/.runtime/cache
          key: ${{ runner.os }}-infrastructure-runtime
          restore-keys: |
            ${{ runner.os }}-infrastructure-runtime

      - name: Install composer dependencies
        run: |
          composer --version
          composer install --no-interaction

      - name: Warmup cache
        env:
          DEVELOPMENT_CONTAINER: 1
        run: php bin/test cache:clear

      - name: Generate PHPStan config
        env:
          DEVELOPMENT_CONTAINER: 1
        run: php bin/test dplan:phpstan --only-dump-config --ci

      - name: Run linters with reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          reviewdog -reporter=github-pr-review -tee -diff="git diff ${{ github.base_ref }}"
